/* @settings
name: Mentions in Status Bar
id: sm-style
settings:
    - 
        id: sm-font-size
        title: Font Size
        type: variable-number
        default: 0.8
        format: em
    - 
        id: sm-bottom-float
        title: Distance from Bottom
        type: variable-number
        default: 20
        format: px
    - 
        id: sm-background-blur
        title: Background Blur
        type: variable-number
        default: 5
        format: px
    -
        id: sm-background-color
        title: Background Color
        type: variable-color
        opacity: true
        format: hex
        default: '#1B1B1BC2'
    -
        id: sm-mention-color
        title: Mention Color
        type: variable-color
        format: hex
        default: '#c0c0c0'
    -
        id: sm-hover-color
        title: Hover Color
        type: variable-color
        format: hex
        default: '#ececec'
    -
        id: sm-space-color
        title: Space Color
        type: variable-color
        format: hex
        default: '#4d4d4d'

*/

:root {
    /* Numerical variables */
    --sm-font-size: 0.8em;
    --sm-bottom-float: 20px;
    --sm-background-blur: 5px;

    /* Colour variables */
    --sm-background-color: #1B1B1BC2;
    --sm-mention-color: #c0c0c0;
    --sm-hover-color: #ececec;
    --sm-space-color: #4d4d4d;
}

/* The main container */
.mentions {
    padding: 0px 4px;
    position: fixed;
    left: 50%;
    bottom:var(--sm-bottom-float);
    transform: translate(-50%, -50%);
    display: inline-block;
    white-space: nowrap;
}

/* Background for the main bar */
.mentions-background {
    position: absolute;
    margin-top: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sm-background-color);
    border-radius: 20px;
    backdrop-filter: blur(var(--sm-background-blur));
    z-index: -1;
}

/* Style for links in main bar */
.mention, .mention-space, .mention-title-muted {
    font-size: var(--sm-font-size);
    text-decoration: none;
    color: var(--sm-mention-color);
    padding: 5px;
    transition-duration: 0.3s;
}

/* The space (" / ") between links */
.mention-space {
    white-space: pre;
    color: var(--sm-space-color);
}

/* Hover link */
.mention:hover {
    text-decoration: none;
    color: var(--sm-hover-color);
}

/* The checkbox that shows / hides the overflow menu */
#show-overflow-menu-checkbox {
    display: none;
}

/* Container for overflow menu */
.overflow-menu {
    display: none;
    pointer-events: auto;
    position: absolute;
    margin-top: 1px;
    right: 0%;
    bottom: 35px;
    width: 100%;
}

/* Show menu if the box is checked */
#show-overflow-menu-checkbox:checked ~ .overflow-menu {
    display: initial;
}

/* Background for overflow menu */
.overflow-menu-background {
    position: absolute;
    margin-top: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sm-background-color);
    backdrop-filter: blur(var(--sm-background-blur));
    z-index: -1;
    border-radius: 10px;
}

/* Container of the overflow menu items */
/* Used to stop the backgroun (overflow-menu-background) from scrolling with the items */
.overflow-menu-item-container {
    padding: 0px 8px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/* The items in the overflow menu */
.overflow-menu-item {
    font-size: var(--sm-font-size);
    text-decoration: none;
    color: var(--sm-mention-color);
    transition-duration: 0.3s;
    overflow-wrap: break-word;
    display: inline-block;
    white-space: normal;
}

.overflow-menu-item:hover {
    text-decoration: none;
    color: var(--sm-hover-color);
}

/* The open overflow menu button */
.overflow-menu-label-button {
    display: inline-block;
    transform: scale(2, 2) translate(-1px, -1.5px);
    transition-duration: 0.2s;
}

/* Rotate + when open */
#show-overflow-menu-checkbox:checked ~ .overflow-menu-label-button {
    transform: rotate(45deg) scale(2, 2) translate(0px, -1px);
}